# Latihan

Data

65, 70, 75, 80, 85, 90, 95, 100, 70, 85, 80, 75, 90, 85, 100, 95, 85, 90, 70, 75

In [1]:
print("hello world!")

hello world!

In [5]:
data = [65, 70, 75, 80, 85, 90, 95, 100, 70, 85, 80, 75, 90, 85, 100, 95, 85, 90, 70, 75]
print(data)

[65, 70, 75, 80, 85, 90, 95, 100, 70, 85, 80, 75, 90, 85, 100, 95, 85, 90, 70, 75]

In [11]:
mean = sum(data) / len(data)
print(sum(data))
print(len(data))
print(mean)

1660
20
83.0

In [13]:
n = len(data)
print(n)

20

In [15]:
dmin = min(data)
dmax = max(data)
print(dmin)
print(dmax)

65
100

In [17]:
print(n)

20

In [19]:
R = dmax-dmin
print(R)

35

In [27]:
import math #library python

k = math.ceil(1 + 3.3 * math.log(n))
print(k)

11

In [31]:
# panjang interval kelas 
I = math.ceil(R / k)
print(I)

4

In [64]:
# interval kelas

interval_kelas = []
tepi_kelas = []
kelas = []
for i in range(k):
    kelas.append(i + 1)

    BAK = dmin + i * I
    BBK = BAK + I - 1
    interval_kelas.append(str(BAK) + "-" + str(BBK))

    tepi_kelas.append(BAK-0.5)

tepi_kelas.append(BBK+0.5)

# 65-69
# 69-73
# dst

print(kelas)
print(interval_kelas)
print(tepi_kelas)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
['65-68', '69-72', '73-76', '77-80', '81-84', '85-88', '89-92', '93-96', '97-100', '101-104', '105-108']
[64.5, 68.5, 72.5, 76.5, 80.5, 84.5, 88.5, 92.5, 96.5, 100.5, 104.5, 108.5]

In [70]:
import pandas 

# pd.DataFrame(data, columns=["Value"])

df = pandas.DataFrame(data, columns=["Value"])

df["Range"] = pandas.cut(df["Value"], bins=tepi_kelas, labels=interval_kelas, include_lowest=True)
frequency_table = df["Range"].value_counts().sort_index()
relative_frequency = frequency_table / frequency_table.sum() * 100
frequency_table

frequency_distribution = pandas.DataFrame(
    {
        "Kelas": kelas,
        "Range": frequency_table.index,
        "Frequency": frequency_table.values,
        "Relative Frequency (%)": relative_frequency,
    }
)
frequency_distribution.reset_index(drop=True, inplace=True)


frequency_distribution

    Kelas    Range  Frequency  Relative Frequency (%)
0       1    65-68          1                     5.0
1       2    69-72          3                    15.0
2       3    73-76          3                    15.0
3       4    77-80          2                    10.0
4       5    81-84          0                     0.0
5       6    85-88          4                    20.0
6       7    89-92          3                    15.0
7       8    93-96          2                    10.0
8       9   97-100          2                    10.0
9      10  101-104          0                     0.0
10     11  105-108          0                     0.0